*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: hsl(38, 14%, 16%);
}

.container{
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 37% 37% 1fr;
    grid-template-rows: 47vh 1fr;
    grid-template-areas:
    "first first second"
    "third third second";
}

button.help{
    position: absolute;
    top: 20%;
    left: 20px;
    background-color: hsl(38, 14%, 16%);
}

.blockFirst{
    padding: 2%;
    grid-area: first;
    margin: 0 auto;
}

.blockSecond{
    height: 100%;
    background-color: hsl(36, 17%, 11%);
    grid-area: second;
}

.wrapper{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    grid-area: third;
    background-color: hsl(34, 13%, 10%);
}

.wrapperContent{
    display: flex;
}

.blockThird{
    width: 50%;
    height: 100%;
}

.blockFourth{
    width: 50%;
    height: 100%;
}

.nameBlock, .nameBlockSecond{
    background: hsl(40, 13%, 14%);
    color: hsla(0, 0%, 100%, 0.6);
}

.nameBlockSecond{
    padding: 15px;
    text-align: center;
}

.nameBlock{
    padding: 10px 15px 10px 30px;
    display: flex;
    justify-content: space-between;
}

.result{
    background-color: hsl(0, 0%, 94%);
    width: 97%;
}

.markup{
    width: 97%;
}

.lineNumber{
    color: hsl(0, 0%, 40%);
    border-right: solid 1px hsl(0, 0%, 20%);;
    text-align: center;
    background: hsl(40, 13%, 14%);
    padding: 5px;
    width: 3%;
}

.result-button{
    padding: 2px 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.result-button:hover{
    cursor: pointer;
}

.result-button_wrong{
    animation: changeScale 0.3s;
}

@keyframes changeScale {
    0% {
        transform: scale(1.0);
    }
    50%{
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes changeColor {
    0% {
        background-color: hsl(0, 4%, 73%);
    }
    100% {
        background-color: hsl(0, 0%, 94%);
    }
}

@keyframes changeVisibility {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.result-input{
    padding: 2px 5px;
    margin: 5px;
    width: 78%;
    background-color: hsl(0, 0%, 94%);
    border: none;
    outline:none;
    animation: changeColor 1s infinite;
}

.result-input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.containerModal{
    display: none;
}

.containerModal_open{
    display: block;
}

.modal{
    position:fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
    background: hsla(0, 0%, 0%, 0.7);
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 52%, 44%);
    filter: drop-shadow(5px 5px 5px hsl(0, 43%, 28%)) ;
    border-radius: 10px;
    padding:20px;
    color: hsl(0, 0%, 100%);
}

.button-reset:hover{
    cursor: pointer;
}

.content .button-reset{
    background-color: hsl(0, 52%, 19%);
}

.close{
    position:absolute;
    font-size: 25px;
    right:20px;
    top:20px;
    transition: .5s;
    cursor: pointer;
}

.close:hover{
    transform: rotate(180deg);
}

.footer{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
}

.footerLink{
    list-style: none;
}

.footerLink a{
    color: hsl(0, 4%, 73%);
}

.wrapperLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

#imgSchool{
    width: 70px;
    height: 30px;
    opacity: 0.5;
    filter: invert(100);
}

.visibility{
    opacity: 0;
}

@media(max-width:1020px){

    .container{
        grid-template-columns: 50vw 1fr;
        grid-template-rows: 60vh 1fr 1fr;
        grid-template-areas:
        "first first"
        "third third"
        "second second";
    }

    button.help{
        top: 50vh;
    }

    .wrapper{
        flex-direction: column;
        margin-right: 20px;
    }

    .blockThird, .blockFourth{
        width: 100%;
        height: auto;
    }

    .content{
        width:90%;
        margin-top: 5px;
        height:90%;
    }
}
